apiVersion: apps/v1
kind: Deployment
metadata:
  name: devops-midterm
  namespace: default
  labels:
    app: devops-midterm
spec:
  replicas: 2
  selector:
    matchLabels:
      app: devops-midterm
  template:
    metadata:
      labels:
        app: devops-midterm
    spec:
      containers:
      - name: project
        image: mustafakamber/devopstech:latest
        ports:
        - containerPort: 5000

---
apiVersion: v1
kind: Service
metadata:
  name: devops-midterm
  namespace: default
spec:
  selector:
    app: devops-midterm
  ports:
  - protocol: TCP
    port: 80
    targetPort: 5000
  type: LoadBalancer
